<div class="hd">
</div>
<div class="bd">
  <h1>电影分歧终结机</h1>
  <div class="container">
    <div class="slot-wrapper">
      <div id="slot1" class="slot"></div>
      <div id="slot2" class="slot"></div>
      <div id="slot3" class="slot"></div>
      <div class="clear"></div>
    </div>
    <div id="result"></div>
    <div><button id="control">开始</button></div>
  </div>
  <div class="credits">
    <div>如果你喜欢本应用的话，你可以向作者转账付费</div>
    <div><img src="/wechat_pay.png" style="height: 250px; width: 200px"/></div>
  </div>
</div>