<div class="hd">
</div>
<div class="bd">
  <h1>Slot machine in Javascript</h1>
  <div class="container">
    <div class="slot-wrapper">
      <div id="slot1" class="slot"></div>
      <div id="slot2" class="slot"></div>
      <div id="slot3" class="slot"></div>
      <div class="clear"></div>
    </div>
    <div id="result"></div>
    <div><button id="control">Start</button></div>
  </div>
  <div class="credits">
    <div>Author: <a href="http://odhyan.com/blog/">Saurabh Odhyan</a></div>
    <div class="browsers">Tested in Firefox, Chrome and IE8</div>
  </div>
</div>